apiVersion: apps/v1
kind: Deployment
metadata:
  name: aegis
  labels:
    app: aegis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aegis
  template:
    metadata:
      labels:
        app: aegis
    spec:
      containers:
        - name: aegis
          image: localhost/aegis:dev
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: JWT_MASTER_KEY
              value: "qwertyuiopasdfghjklzxcvbnmqazwsx"
          volumeMounts:
            - name: app-config
              mountPath: /app/configs
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: app-config
          configMap:
            name: aegis-config